#container-hidden {
  background-color: red;
  padding: 10px;
  margin: 10px;
  border: 4px solid blue;
  max-height: 100px;
  overflow: hidden;
}

#container-scroll-x {
  background-color: lightblue;
  width: 40px;
  overflow-x: scroll;
}

#container-scroll-y {
  background-color: orange;
  max-height: 100px;
  overflow: scroll;
}

#container-visible {
  background-color: red;
  padding: 10px;
  margin: 10px;
  border: 4px solid blue;
  max-height: 100px;
  overflow: visible; /* by default */
}

